<key>NSCameraUsageDescription</key>
<string>Cette app utilise la caméra pour scanner des graphiques.</string>
<key>NSPhotoLibraryUsageDescription</key>
<string>Cette app utilise la galerie pour importer des images.</string>
<key>NSMicrophoneUsageDescription</key>
<string>Cette app peut utiliser le micro si nécessaire.</string>
<key>NSAppTransportSecurity</key>
<dict>
  <key>NSAllowsArbitraryLoads</key>
  <true/>
</dict>
